<h1>This is the Secret page</h1>

<p>So you found this page, awesome.</p>

<img src="http://www.joesdump.com/wp-content/uploads/2018/05/secret-1142327_1280-1024x682.jpg">

<li><a href = "/register">Sign UP</a></li>
<li><a href = "/login">Login!</a></li>
<li><a href = "/logout">Logout!</a></li>